[SddmGreeterTheme]
Name=Frost
Description=Frosted Glass Theme
Author=Nick Ulle
Copyright=(c) 2016, Nick Ulle
License=MIT
Type=sddm-theme
Version=0.1
Website=
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=nick.ulle@gmail.com
Theme-Id=frost
Theme-API=2.0
